# Dependencies & Compiled output
/node_modules
/dist
/api/node_modules
/api/dist
/ui/node_modules
/ui/.next
/ui/out
/ui/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor settings
.idea
.vscode
*.swp
*.swo

# Environment variables & secrets
.env
.env.*
*.env
**/.env
**/.env.*
*example.env*
example.env
origin_secret.conf
!origin_secret.example.conf

# Learning & Architecture Notes
configure.md
cloudflare.md
cloudfare.md
plan.md
steps.md

