# Dependencies & Compiled output
/node_modules
/dist
/api/node_modules
/api/dist
/ui/node_modules
/ui/.next
/ui/out
/ui/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor settings
.idea
.vscode
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
*.env
**/.env
**/.env.*
api/.env
api/*.env
ui/.env
ui/*.env
!example.env
!api/example.env
!ui/example.env

# Learning & Architecture Notes
configure.md
cloudflare.md
cloudfare.md
plan.md
